body {
  background-image: url("https://cdn.wallpapersafari.com/1/80/8DYndB.png");
  font-family: "Roboto";
  margin: 0px;
}
.topo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 50px;
}
.mensagem {
  margin-top: 80px;
  grid-column: 2;
  color: #7278ca;
  font-size: 1.8rem;
  border-radius: 14px;
  padding: 20px 10px;
  text-align: center;
}

.topo p {
  text-align: center;
  grid-column: 2;
  margin-bottom: 50px;
  line-height: 1.5rem;
  color: #54a18a;
  font-weight: 800;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 50px;
}
.box {
  width: 200px;
  display: flex;
  background-color: #daf7c1;
  margin: 8px;
  padding: 8px 18px;
  border-radius: 14px;
  box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  justify-content: space-between;
  align-items: center;
}
.box:hover {
  box-shadow: 4px 4px 0.5em rgba(114, 120, 202, 0.3);

  cursor: pointer;
}
img {
  width: 30px;
  height: 30px;
}
footer {
  background: #7278ca;
  text-align: center;
  padding: 10px;
}
footer a {
  text-decoration: none;
  color: #eff8e7;
  font-size: 1rem;
}
footer a:hover {
  color: #9bf0d6;
}
